
.app-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  color: #007bff; 
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.back-button svg {
  margin-right: 5px;
  stroke: #007bff;
}

.main-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.empty-space {
  width: 70px; 
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 16px;
  color: #6c757d;
  margin: 0;
}

.see-all {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}

.destination-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0; 
  transition: all 0.2s ease-in-out;
}



.card-image-container {
  position: relative;
  width: 100%;
  padding-top: 66.66%; 
  overflow: hidden;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmark-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.bookmark-button svg {
  width: 18px;
  height: 18px;
  color: #fff; 
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 5px 0;
}

.card-description {
  font-size: 13px;
  color: #6c757d;
  line-height: 1.4;
  margin: 0;
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 36px; 
}
