
body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
}

.homepage-container {
  height: 100vh; 
  width: 100vw; 
  background-size: cover; 
  background-position: center; 
  color: white; 
  display: flex;
  flex-direction: column; 
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 50px; 
  width: 100%;
  box-sizing: border-box; 
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo img {
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 30px; 
  font-size: 16px;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-lang{
  display: flex;
  gap: 10px;
  align-items: center;
}
.lang-button {
  background-color: #1877F2; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}

.lang-button span {
  margin-left: 5px;
}

.hero-section {
  display: flex;
  justify-content: center; 
  align-items: center;   
  flex-grow: 1; 
  text-align: center;
}

.hero-box {
  background-color: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 100px 100px;
  border-radius: 15px;
  max-width: 650px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-box h1 {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 15px;
  color: white; 
}

.hero-box p {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.cta-button {
  background-color: #f0f0f0; 
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #5080BB; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e0e0e0; 
}